.expertise-section {
  text-align: center;
  padding: 30px 3vw 40px 4vw;
  background: #fff;
  max-width: 1200px;
  margin: 0 auto;
}

.expertise-title {
  font-size: 2.2rem;
  margin-bottom: 10px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
      margin: 0px 0px 15px 0px;
    font-size: 36px;
    font-weight: 700;
    font-family: "lato", sans-serif;
}

.expertise-title span {
  color: #de4e23;
}

.expertise-subtitle {
  max-width: 600px;
  margin: 0 auto 40px;
  color: #666666;
  line-height: 25px;
  font-size: 15px;
  font-weight: 400;
}

.expertise-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}